.sticky-header2 {
    position: sticky;
    left: 0;
    width: 100%;
    top: 56px;
    z-index: 1000;
}

.filter-sorting-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
}

.filter-sorting-container h4 {
    font-size: 12px;
    font-weight: bold;
    margin: 0; 
}

.filter-sorting-container select {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc; 
    background-color: #fff; 
    cursor: pointer; 
}

.filter-sorting-container option {
    font-size: 14px;
    padding: 5px;
}

.sorting {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.article {
    width: 25%;
    height: 550px;
    border: 1px solid black;
}

.article-image-wrapper {
    position: relative;
    height: 85%; 
    overflow: hidden; 
}

.article-image-wrapper a img{
    position: relative;
    height: 100%; 
    overflow: hidden; 
}

.main-image {
    width: 100%;
    object-fit: cover; 
}

.article-info h2{
    padding: 10px;
    margin: 0;
    font-size: 16px;
    color: black;
}

.article-info a{
    text-decoration: none;
}

.article-info a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.article-info p{
    font-size: 16;
    margin-left: 15px;
}