.sticky-header2 {
    position: sticky;
    left: 0;
    width: 100%;
    top: 56px;
    z-index: 1000;
}

.filter-sorting-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background-color: white;
    border-top: 0.5px solid black;
    border-bottom: 1px solid black;
    z-index: 1000;
}

.filter-sorting-container h4 {
    font-size: 12px;
    font-weight: bold;
    margin: 0; 
}

.filter-dropdown {
    position: relative;
    display: inline-block;
}

.filter-dropdown-content {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    background-color: white;
    right: 0;
    box-sizing: border-box;
    z-index: 3000;
    min-width: 400px;
}

.filter-dropdown-content label {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.filter-dropdown-content label:hover {
    background-color: #f1f1f1;
}

.filter-dropdown:hover .filter-dropdown-content {
    display: block;
}
  

.filter-sorting-container select {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc; 
    background-color: #fff; 
    cursor: pointer; 
}

.filter-sorting-container option {
    font-size: 14px;
    padding: 5px;
}

.filter-section h4{
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 100;
}

.filter-section ul {
    list-style-type: none; 
    padding: 0;
}

.filter-section label {
    font-size: 14px; 
    margin-left: 25px;
}

.filter-dropdown-content button[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
}

.filter-dropdown-content button[type="submit"]:hover {
    background-color: gray; 
}


.sorting {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.article {
    width: 25%;
    height: 550px;
    border: 0.5px solid black;
    
}

.article-image-wrapper {
    position: relative;
    height: 85%; 
    overflow: hidden; 
}

.article-image-wrapper a img{
    position: relative;
    height: 100%; 
    overflow: hidden; 
}

.main-image {
    width: 100%;
    object-fit: cover; 
}

.article-info h2{
    padding: 10px;
    margin: 0;
    font-size: 16px;
    color: black;
}

.article-info a{
    text-decoration: none;
}

.article-info a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.article-info p{
    font-size: 16;
    margin-left: 15px;
}