.filter-sort-bar {
    display: flex;
    position: relative; 

}

.filter-sort-bar > div {
    margin: 0 20px; 
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-item {
    width: calc(25% - 20px); 
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details h5 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.product-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}
