.product-details-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 2px 0 0 0;
}

.product-images {
    display: flex;
    flex-wrap: wrap; 
    width: 70%; 
    margin-bottom: 20px;
    position: relative;
    gap: 2px;
}

.product-images a {
    display: block;
    width: calc(50% - 2px);
    height: 600px;
}

.product-images img {
    width: 100%; 
    height: 100%; 
    object-fit: fill; 
    cursor: pointer;
}

.product-images img:hover { 
    opacity: 0.8; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    background: white;
    text-align: center;
    position: relative;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

:target {
    display: block;
}

.modal:target {
    display: block;
}

.modal-content {
    background: white;
    position: relative;
}

.modal-content:target {
    display: block;
}

.product-info{
    display: flex;
    flex-direction: column;
    margin: 60px 50px 30px 60px;
    width: calc(30% + 2px);
}

.name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;    
    margin-bottom: 40px;
}

.name-price h3{
    font-size: 20px;
    font-weight: bold;
}

.name-price p{
    font-size: 20px;
    text-align: right;
}

.color-options{
    margin-bottom: 25px;
}

.colors{
    display: flex;
    flex-direction: wrap;
    align-items: center;
}

.colors a{
    margin-right: 10px;
}

.color-options h3{
    font-size: 18px;
    font-weight: bold;
}

.color-options a{
    color: black;
    text-decoration: none;
}

.color-options a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.size-options{
    margin-bottom: 20px;
}

.size-options h3{
    font-size: 18px;
    font-weight: bold;
}

.size-options p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.desc {
    margin-top: 30px;
    border: 0.5px solid black;
}

.desc h3{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 20px 10px 20px;
}

.desc p{
    font-size: 14px;
    margin: 15px;
}

.comments {
    margin: 20px;
}

.comments h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comments-list {
    max-width: 800px;
    margin-bottom: 20px;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.comment p {
    margin: 0;
    font-size: 14px; 
}

.comment small {
    color: #555;
    display: block;
    font-weight: bold;
    font-size: 12px;
}

form {
    max-width: 800px;
}

textarea {
    width: 100%;
    height: 40px; 
    padding: 8px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.size-options button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 12px; 
    font-size: 0.9em;
    cursor: pointer;
    margin-left: 10px;
}

.size-options button:hover {
    background-color: gray;
}