.cart-container {
    width: 50%;
    margin: 30px auto;
}

.cart-container h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-items {
    margin-bottom: 20px;
    align-items: center;
}

.cart-items ul {
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.cart-item-image {
    flex: 1;
    margin-right: 10px;
}

.cart-item-image img {
    height: 250px;
    max-width: 100%;
    object-fit: fill;
}

.cart-item-details {
    flex: 2;
    margin-right: 10px;
}

.cart-item-details p {
    font-size: 18px;
    margin: 5px 0;
}

.cart-item-actions {
    flex: 1;
    text-align: right;
}

.remove-item-form {
    display: flex;
    margin-top: 10px;
}

.remove-item-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.remove-item-btn:hover {
    background-color: darkgray;
}

.delivery-info,  .total {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.delivery-info h3, .payment-info h3, .total h3 {
    font-size: 20px;
    font-weight: bold;
}

.delivery-info p, .payment-info label, .total p {
    font-size: 16px;
    margin: 5px 0;
}

.payment-info{
    margin-bottom: 20px;
}

.payment-info button {
    margin-top: 20px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-info button:hover {
    background-color: darkgray;
}

.empty-cart-message {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 12px;
}