{% extends 'webshop/base.html' %}

{% load static %}

{% block title %}Katalog - Žene - Haljine{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'webshop/css/articles_display.css' %}">
{% endblock %}

{% block content %}
<div class="sticky-header2">
  <div class="filter-sorting-container">
    <div>
      <h4>FILTRIRANJE</h4>
    </div>
    <div class="sorting">
      <h4>SORTIRANJE: </h4>
    
      <form method="GET" action="{% url 'webshop:sort_articles' category_name subcategory_name %}">
        <select name="sort" onchange="this.form.submit()">
          <option value="newest" {% if request.GET.sort == 'newest' %}selected{% endif %}>Najnoviji</option>
          <option value="oldest" {% if request.GET.sort == 'oldest' %}selected{% endif %}>Najstariji</option>
          <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>Po cijeni - najniža</option>
          <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>Po cijeni - najviša</option>
        </select>
    </form>
    </div>
  </div>
</div>

<div class="articles-container">
  {% for product in products %}
    {% for variation in product.variations.all %}
      <div class="article">
        <div class="article-image-wrapper">
            <a href="{% url 'webshop:articles_details' category_name subcategory_name product.slug variation.color.name %}">
                <img src="{{ variation.main_image.url }}" alt="{{ product.name }}" class="main-image">
            </a>
        </div>
        <div class="article-info">
          <a href="{% url 'webshop:articles_details' category_name subcategory_name product.slug variation.color.name %}">
            <h2>{{ product.name }} - {{ variation.color.name }}</h2>
          </a>
          <p class="price">€ {{ product.price }}</p>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>

{% endblock %}