{% extends 'webshop/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'webshop/css/articles_details.css' %}">
{% endblock %}

{% block content %}

    <div class="product-details-container">
        <div class="product-images">
            <a href="#image1">
                <img src="{{ selected_variation.main_image.url }}" alt="{{ selected_variation.color.name }}" class="product-image">
            </a>
        
            {% for image in variation_images %}
                <a href="#image{{ forloop.counter }}">
                    <img src="{{ image.image.url }}" alt="{{ selected_variation.color.name }}" class="product-image">
                </a>
            {% endfor %}
        </div>
        
        <div id="image1" class="modal">
            <div class="modal-content">
                <img src="{{ selected_variation.main_image.url }}" alt="{{ selected_variation.color.name }}">
                <a href="#" class="modal-close">&times;</a>
            </div>
        </div>
        
        {% for image in variation_images %}
            <div id="image{{ forloop.counter }}" class="modal">
                <div class="modal-content">
                    <img src="{{ image.image.url }}" alt="{{ selected_variation.color.name }}">
                    <a href="#" class="modal-close">&times;</a>
                </div>
            </div>
        {% endfor %}

        <div class="product-info">
            <div class="info-box">
                <div class = "name-price">
                    <h3>{{ product.name }}</h3>
                    <p class="price">€ {{ product.price }}</p>
                </div>
                
                <div class="color-options">
                    <h3>Dostupno u bojama:</h3>
                    <div class="colors">
                        {% for variation in product.variations.all %}
                        <a href="{% url 'webshop:articles_details' category_name subcategory_name product.slug %}?color={{ variation.color.name }}">{{ variation.color.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="size-options">
                    {% for size in product.variations.first.sizes.all %}
                        <p>{{ size.name }}</p>
                    {% endfor %}
                </div>
                
                <div class="desc">
                    <div>
                        <h3>OPIS</h3>
                        <p>-{{ product.description }}</p>
                    </div>

                    <div>
                        <h3>PODRIJETLO</h3>
                        <p>- {{ product.origin }}</p>
                    </div>

                    <div></div>
                        <h3>ODRŽAVANJE</h3>
                        <p>- {{ product.care_instructions }}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="comments">
        <h2>KOMENTARI</h2>
        <div class="comments-list">
            {% for comment in selected_variation.comments.all %}
                <div class="comment">
                    <p>{{ comment.text }}</p>
                    <small>{{ comment.poster.name }}, {{ comment.created_at|date:"d.m.Y" }}</small>
                </div>
            {% endfor %}
        </div>
    
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'webshop:articles_details' category_name subcategory_name product.slug %}">
        {% csrf_token %}
        <textarea name="text" rows="4" placeholder="Ostavite komentar..."></textarea>
        <br>
        <button type="submit">Pošalji komentar</button>
        </form>
        {% endif %}
    </div>
    
</div>

{% endblock %}