<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webshop/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Žene</a></li>
            <li><a href="#">Muškarci</a></li>
            <li><a href="#">LOGO</a></li>
            <li><a href="#">Traži</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'webshop:profile' %}">Profil</a></li>
                <li><a href="{% url 'webshop:logout' %}">Odjava</a></li>
            {% else %}
                <li><a href="{% url 'webshop:login' %}">Prijava</a></li>
            {% endif %}
            
        </ul>

        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>