<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webshop/static/webshop/css/base.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Žene</a></li>
            <li><a href="#">Muškarci</a></li>
            <li><a href="#">LOGO</a></li>
            <li><a href="#">Traži</a></li>

        </ul>
    </nav>
</body>
</html>