{% extends 'webshop/base.html' %}

{% block title %}Povijest Narudžbi{% endblock %}

{% block content %}
<div class="orders-history-container">
    <h1>Povijest Narudžbi</h1>

    {% if orders %}
        <ul>
            {% for order in orders %}
            <li class="order-history-item">
                <p><strong>Broj narudžbe:</strong> {{ order.order_number }}</p>
                <p><strong>Status:</strong> {{ order.get_status_display }}</p>
                <p><strong>Datum narudžbe:</strong> {{ order.date_ordered }}</p>
                <p><strong>Ukupno:</strong> € {{ order.total_price }}</p>
                <a href="{% url 'webshop:order_details' order_id=order.id %}">Pogledaj detalje</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nema narudžbi u povijesti.</p>
    {% endif %}
</div>
{% endblock %}