{% extends 'webshop/base.html' %}

{% load static %}

{% block title %}Povijest narudžbi{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'webshop/css/orders_history.css' %}">
{% endblock %}

{% block content %}
<div class="orders-history-container">
    <h1>Povijest narudžbi</h1>
    {% if orders %}
        <ul>
            {% for order in orders %}
            <li class="order-history-item">
                <div class="order-history-details">
                    <div class="order-history-info">
                        <p>Broj narudžbe: {{ order.order_number }}</p>
                        <p>{{ order.get_status_display }}</p>
                        <p><strong>€ {{ order.total_price }}</strong></p>
                    </div>
                    <div class="order-history-meta">
                        <p>{{ order.date_ordered|date:"d. m. Y" }}</p>
                        <a href="{% url 'webshop:order_details' order_id=order.id %}">Detalji</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nema narudžbi u povijesti.</p>
    {% endif %}
</div>
{% endblock %}