{% extends 'webshop/base.html' %}

{% load static %}

{% block title %}Korisnički Profil{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'webshop/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>{{ user_account.name }} {{ user_account.surname }}</h2>

    <a href="{% url 'webshop:personal_data' %}">Moji podaci</a>
    <a href="{% url 'webshop:orders' %}">Moje kupovine</a>
    <a href="{% url 'webshop:returns' %}">Povrati i zamjene</a>
    <a href="{% url 'webshop:delivery' %}">Način dostave</a>
    <a href="{% url 'webshop:payment' %}">Načini plaćanja</a>
</div>
{% endblock %}